.container-fluid{
  padding-left: 0;
  padding-right: 0;
  font-family:"open sans";

  // font-family:"roboto slab";
}
header{

  width: 90%;
  margin: 0 auto;
  position:relative;

border: solid white thin;
}
h1{
  position: relative;
  display: inline-block;
      float: left;
  font-size: 1.1em;
  font-family:"open sans";

  color: $text;
  text-align: center;
  padding-bottom: 1em;
  @media (min-width: 375px){
    font-size: 1.25em;

  }
  @media (min-width: 400px){
    font-size: 1.5em;
    padding-bottom:.5em;
  }
  @media (min-width: 600px){
    font-size: 2em;
    padding-bottom:1em;
  }
}


a,
ul{
  text-decoration: none;

}

ul{
  display: inline-block;
  width: 100%;
  text-align: center;
  // padding: .75em;
  // margin: 0 auto;
  // padding: .5em;
  // @media (min-width: 375px){
  //   // padding: .5em;
  // }
  // @media (min-width: 600px){
  //   // padding: 1em;
  // }
}

.emphasis{
  color: $green;
  text-shadow: .1px .1px .1px $box-shadow;
  font-size: 2em;
  font-weight: bold;
}





.logo{
  position:relative;
    display: inline-block;
    float: left;

  // width: 90%;
  // display: inline-block;
  // margin: 0 auto;
  // padding: .25em;
  @media (min-width: 375px){
    padding-top: .5em;
    padding-bottom: .5em;
  }

}

.headshot{
  @media (min-width: 375px){
    max-height: 425px;
    margin: 0 auto;


  }
  @media (min-width: 400px){
    max-height: none;
  }
}




#row2{
  position: relative;
  height: 10em;
  background-color: $pink;
  padding: 1em;
  z-index: 100;
  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 105%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    box-shadow: 0 -19px 38px rgba(0,0,0,0.30), 0 -15px 12px rgba(0,0,0,0.22);
    top: 0;
    transform: skewY(-15deg);
    transform-origin: 0 100%;

  }

  &:after {
    bottom: 0;
    transform: skewY(-15deg);
    transform-origin: 100% 0 ;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }


}

.about{
  padding: 1em;
color: $white;
line-height: 1.3em;
font-size: 1.1em;
position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);



  // color: $text;
}














.star{
  z-index: 1000;
  width: 6em;
  height: auto;
  float: right;
  margin-right: 0;
  margin-top: 6.5em;
  // margin-right: -1.75em;
}


.ribbon{
  z-index: -1000;
  position: relative;
  // width: 100%;

  height:107em;
  margin: 0 auto;
  margin-top: -10em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: green;
padding-top: 8em;
  // opacity: .5;
}




























.box{
  width: 90%;
  margin: 0 auto;
box-shadow: 0 10px 20px rgba(0,0,0,0.19),  0 6px 6px rgba(0,0,0,0.23);
    // box-shadow: 0px 1px 1px 1px $box-shadow;
  border: solid $green thick;
  background-color: $green;
margin-bottom: 2em ;

}
// p{
//   color: white;
//   // background-color: $gray;
//   // padding: 2em;
//   padding: 1.25em;
// }



.content-logo{
  // margin: .5em;
  width: 90%;
  height: auto;
  // border-radius: 50%;
  background-color: white;
  height: auto;
  display: block;
  // padding: 1em;
  // box-shadow: .1px .1px .91px  $box-shadow;
border: solid white thick;
// margin-left: -2em;
// margin-top: 2em;
}


.highlight{
  color: $pink;
  font-weight: bold;
}

.history-block{
  display: inline-block;
  opacity: 1;
  background-color: white;
  padding:.5em;
// margin: 1em 2em -1em 1em;
margin: .5em;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  -moz-box-shadow:0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

-webkit-box-shadow:0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.history{
  // background-color: white;
  // width: 50%;
  height: auto;
  color: $text;
  padding: .75em;
  font-size: 1em;
  line-height: 1.25em;
  // margin: 1em 2em -1em 1em;
  // background-color: #56514e;
  // padding: 2em;
//
}


// .download{
// text-decoration: none;
// margin:0 auto;
// margin-top: 5em;
//
// }

// .icon-download{
//   color: $white;
// font-size: 2em;
// height: 1em;
// }


#download,
.button{
  display: block;
  width: 5em;
margin: 0 auto;
  font-size: 2em;
  border:white solid medium;
  border-radius: 0;
  padding: .25em;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22), inset 0 19px 38px rgba(0,0,0,0.30), inset 0 15px 12px rgba(0,0,0,0.22);

    text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: green;

}


#download:hover{


background-color: $pink;

}

.button:active{
background-color: red;
}

#row5{
  position: relative;
  background-color:$pink;

height: 34em;


z-index: 100;

  border: solid thin $pink;


box-shadow: 0 -19px 38px rgba(0,0,0,0.30), 0 -15px 12px rgba(0,0,0,0.22);


&:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 80%;

    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    transform: skewY(-15deg);
    transform-origin: 0 100%;
    box-shadow: 0 -19px 38px rgba(0,0,0,0.30), 0 -15px 12px rgba(0,0,0,0.22);
  }

  &:after {
    bottom: 0;
    transform: skewY(-15deg);
    transform-origin: 100% 0 ;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}


.contact-form{

  display: block;
  color: $white;
  margin: 0 auto;
  display: inline-block;
width: 80%;

  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.hire{

  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

.form-statement{

  display: inline-block;

line-height: 1.5em;
padding-bottom: 2em;
// padding-top: 1em;




}

form{
text-decoration: none;
}

.input-field{

    // text-align: left;
  border: solid white thin;
  background-color: white;
width: 100%;
height: 1.75em;
padding: .5em;
// margin: 0 auto;
margin-bottom: 1em;
font-size: 1em;

}


textarea{
width: 100%;
  height: 8em;
  border: solid white thin;
  background-color: white;
}

textarea:focus,
input:focus {
  outline:none;
}

.button{

    background-color: $pink;
    color: $white;
    box-shadow: none;
    text-shadow: none;
    margin-top: 1em;
font-size: 1.5em;

    // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23), inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
    //
    // text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.button:hover{
  background-color: $pink-dark;
}
.button:active{
  background-color: $pink-darkest;
}

.ribbon-bottom{
  height: 40em;
}

.quotes{
  // display: inline-block;
  background-color: $green;
  border: solid white thick;
position: relative;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  opacity: 0.6;
    -webkit-opacity:0.6;

  // margin: 1.5em 0 .5em 0em;

  width: 12em;
  height: 12em;
  border-radius: 50%;
}

.quote-text{
  color: white;
  // padding: .5em;
  font-size: 1em;
  line-height: 1.25;
  // text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  text-align: center;
  font-weight: bold;
padding: .5em;

  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  // margin:0 auto;
}






#row6{
  position: relative;
  background-color:$pink;

height: 18em;
  // padding: 2em;

z-index: 100;

  border: solid thin $pink;


box-shadow: 0 -19px 38px rgba(0,0,0,0.30), 0 -15px 12px rgba(0,0,0,0.22);


&:before {
    background: inherit;
    content: '';
    display: block;
    height: 100%;

    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    transform: skewY(-15deg);
    transform-origin: 0 100%;
    box-shadow: 0 -19px 38px rgba(0,0,0,0.30), 0 -15px 12px rgba(0,0,0,0.22);
  }

  // &:after {
  //   bottom: 0;
  //   transform: skewY(0deg);
  //   transform-origin: 100% 0 ;
  // }
}



.row6-container{

  width: 80%;
  position: absolute;

    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}



.bottom-links{

  color: white;
  font-weight: bold;
  font-size: 1.25em;
line-height: 1.5em;
}

.bottom-links:hover{
  color:$text;
  // text-decoration:none;
}






.location{

padding-top: 1em;
  margin: 0 auto;

    width:60%;
  height: auto;

}
.location-text{

  color: white;
  line-height: 1.5em;
padding-bottom: 1em;
  // display: inline-block;
  text-align: center;
}
