.links{
  display: inline-block;
  // margin: 0 auto;
  padding: .5em;
  width: 3.5em;
  height: 3.5em;
  @media (min-width: 400px){
    width: 4em;
    height: 4em;

  }
  @media (min-width: 600px){
    width: 6em;
    height: 6em;
padding: 1em;
  }
}


.icon-download{
  color: $white;
  
}
