

$pink:#e5096d;
$pink-dark:#cc0861;
$pink-darkest:#f72a87;
$green:#32b732;
$mid-green:#008000;
$green-dark:#195b19;
$box-shadow: rgba(50, 50, 50, 0.5);
$box-shadow-dark:#606060;
$white:#ffffff;

$text:#757c83;
$gray:#7c8079;
$gray-light:#b2b7ae;
$gray-dark:#d0d3ce;








// @mixin center{
//   top: 50%;
//   left: 50%;
//   right: -50%;
//   transform(tran)
// }
