

$pink:#e5096d;
$green:#32b732;
$box-shadow: rgba(50, 50, 50, 0.5);
$box-shadow-dark:#606060;
$white:#ffffff;
$pink-dark:
#cc0861;
$pink-darkest:#f72a87;
$text:#2d2d2d;
$off-white:#f2f0dc;
$off-white:#edf5e7;
$gray:#d3d2d0;
$gray-light:#b2b7ae;




// .block {
//
//   @include angle(after);
// }
