

$pink:#e5096d;
$pink-dark:#cc0861;
$pink-darkest:#f72a87;
$green:#32b732;
$green-dark:#195b19;
$box-shadow: rgba(50, 50, 50, 0.5);
$box-shadow-dark:#606060;
$white:#ffffff;


$text:#2d2d2d;
$off-white:#f2f0dc;
// $off-white:#edf5e7;
$gray:#7c8079;
$gray-light:#b2b7ae;
$gray-dark:#d0d3ce;



// .block {
//
//   @include angle(after);
// }
